@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.app-layout {
  display: flex;
  flex-flow: column nowrap;
  max-width: 70vw;
  width: 50rem;
  background-color: white;
  margin: 1rem auto;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.1);
}