@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.app-layout {
  display: flex;
  flex-flow: column nowrap;
  max-width: 70vw;
  width: 50rem;
  background-color: white;
  margin: 1rem auto;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.1);

  // Adjust app-layout for mobile
  @media screen and (max-width: 600px) {
    max-width: calc(100vw - 2rem);

    /**
     Might also have used MUI method like: sx={{ display: { xs: 'block', md: 'none' }}}
     But i think this is cleaner for this demo
     */
    .hide-on-mobile {
      display: none !important;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
